<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@bev.name%></title>
  </head>
  <body>
    <h1><%=@bev.name%></h1>
    <ul>
      <li><%=@bev.category%></li>
      <li><%=@bev.rating%></li>
      <li><%=@bev.comments%></li>
    </ul>
  </body>
</html>
