<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@bev.name%></title>
  </head>
  <body>
    <h1><%=@bev.name%></h1>
    <h3>Reviewed by <a href="/users/<%=@bev.user.id%>"><%=@bev.user.first_name%></a></h3>

      <p><b>Category:</b> <%=@bev.category.capitalize%></p>
      <p><b>User Rating:</b> <%=@bev.rating%></p>
      <p><b>User comments:</b></p>
      <p><%=@bev.comments%></p>

      <%if this_user.beverages.include?(@bev)%>
      <form class="" action="/beverages/<%=@bev.id%>/edit" method="get">
        <input type="submit" name="" value="Edit">
      </form>

      <form class="" action="/beverages/<%=@bev.id%>/delete" method="get">
        <input type="submit" name="" value="Delete">
      </form>
      <%else%>
      <form class="" action="/" method="get">
        <input type="submit" name="" value="Home">
      </form>

      <form class="" action="/users/<%=this_user.id%>" method="get">
        <input type="submit" name="" value="My Profile">
      </form>
      <%end%>

  </body>
</html>
