<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=User.find(params[:id]).first_name%>'s Profile</title>
  </head>
  <body>
    <h1><%=show_greeting%></h1>
    <%if this_user == User.find(params[:id])%>
    <form class="" action="/beverages/new" method="get">
      <input type="submit" name="" value="Add a Bev">
    </form>
    <%end%>
    <p>Reviewed Beverages:</p>
    <ul>
      <%displayed_user_bevs(params[:id]).each do |bev_obj|%>
      <li><a href="/beverages/<%=bev_obj.id%>"><%=bev_obj.name%></a></li>
      <%end%>
    </ul>
    <form class="" action="/" method="get">
      <input type="submit" name="" value="BevFeed">
    </form>
    <form class="" action="/users/<%=this_user.id%>/logout" method="post">
      <input type="submit" name="" value="Logout">
    </form>

  </body>
</html>
